In [1]:

import pandas as pd
dataset=pd.read_csv("netflix_titles.csv")
print(dataset)
     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson   
1         s2  TV Show          Blood & Water              NaN   
2         s3  TV Show              Ganglands  Julien Leclercq   
3         s4  TV Show  Jailbirds New Orleans              NaN   
4         s5  TV Show           Kota Factory              NaN   
...      ...      ...                    ...              ...   
8802   s8803    Movie                 Zodiac    David Fincher   
8803   s8804  TV Show            Zombie Dumb              NaN   
8804   s8805    Movie             Zombieland  Ruben Fleischer   
8805   s8806    Movie                   Zoom     Peter Hewitt   
8806   s8807    Movie                 Zubaan      Mozez Singh   

                                                   cast        country  \
0                                                   NaN  United States   
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa   
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN   
3                                                   NaN            NaN   
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India   
...                                                 ...            ...   
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States   
8803                                                NaN            NaN   
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States   
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States   
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India   

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min   
1     September 24, 2021          2021  TV-MA  2 Seasons   
2     September 24, 2021          2021  TV-MA   1 Season   
3     September 24, 2021          2021  TV-MA   1 Season   
4     September 24, 2021          2021  TV-MA  2 Seasons   
...                  ...           ...    ...        ...   
8802   November 20, 2019          2007      R    158 min   
8803        July 1, 2019          2018  TV-Y7  2 Seasons   
8804    November 1, 2019          2009      R     88 min   
8805    January 11, 2020          2006     PG     88 min   
8806       March 2, 2019          2015  TV-14    111 min   

                                              listed_in  \
0                                         Documentaries   
1       International TV Shows, TV Dramas, TV Mysteries   
2     Crime TV Shows, International TV Shows, TV Act...   
3                                Docuseries, Reality TV   
4     International TV Shows, Romantic TV Shows, TV ...   
...                                                 ...   
8802                     Cult Movies, Dramas, Thrillers   
8803             Kids' TV, Korean TV Shows, TV Comedies   
8804                            Comedies, Horror Movies   
8805                 Children & Family Movies, Comedies   
8806     Dramas, International Movies, Music & Musicals   

                                            description  
0     As her father nears the end of his life, filmm...  
1     After crossing paths at a party, a Cape Town t...  
2     To protect his family from a powerful drug lor...  
3     Feuds, flirtations and toilet talk go down amo...  
4     In a city of coaching centers known to train I...  
...                                                 ...  
8802  A political cartoonist, a crime reporter and a...  
8803  While living alone in a spooky town, a young g...  
8804  Looking to survive in a world taken over by zo...  
8805  Dragged from civilian life, a former superhero...  
8806  A scrappy but poor boy worms his way into a ty...  

[8807 rows x 12 columns]
# 1. Checking for Missing Values (Parameter 1)
print("--- Missing Values ---")
print(dataset.isnull().sum())

# 2. Checking for Duplicates (Parameter 2)
print("\n--- Duplicate Rows ---")
print(dataset.duplicated().sum())

# 3. Checking Data Types (Parameter 3 - Format)
print("\n--- Data Types ---")
print(dataset.dtypes)

# 4. Checking for Outliers/Wrong Data (Parameter 4)
print("\n--- Release Year Range ---")
print(f"Oldest: {dataset['release_year'].min()}, Newest: {dataset['release_year'].max()}")
--- Missing Values ---
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

--- Duplicate Rows ---
0

--- Data Types ---
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

--- Release Year Range ---
Oldest: 1925, Newest: 2021
# Parameter 1: Handling Missing Values
dataset.fillna({'director': 'Unavailable', 'cast': 'Unavailable', 'country': 'Unavailable'}, inplace = True)
dataset.dropna(subset=['date_added', 'rating', 'duration'], inplace = True)

# Parameter 2: Handling Duplicate Rows
dataset.drop_duplicates(inplace = True)

# Parameter 3: Handling Data Types and Formatting
dataset['date_added'] = pd.to_datetime(dataset['date_added'].str.strip(), format='%B %d, %Y', errors='coerce')
dataset.dropna(subset=['date_added'], inplace = True)
dataset['date_added'] = dataset['date_added'].dt.strftime('%d/%m/%Y')

# Parameter 4: Handling Outliers and Wrong Data
for x in dataset.index:
    if dataset.loc[x, "release_year"] > 2026:
        dataset.drop(x, inplace = True)
# Parameter 1: Checking for Missing Values
print("--- Missing Values ---")
print(dataset.isnull().sum())
--- Missing Values ---
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64
print(dataset)
     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson   
1         s2  TV Show          Blood & Water      Unavailable   
2         s3  TV Show              Ganglands  Julien Leclercq   
3         s4  TV Show  Jailbirds New Orleans      Unavailable   
4         s5  TV Show           Kota Factory      Unavailable   
...      ...      ...                    ...              ...   
8802   s8803    Movie                 Zodiac    David Fincher   
8803   s8804  TV Show            Zombie Dumb      Unavailable   
8804   s8805    Movie             Zombieland  Ruben Fleischer   
8805   s8806    Movie                   Zoom     Peter Hewitt   
8806   s8807    Movie                 Zubaan      Mozez Singh   

                                                   cast        country  \
0                                           Unavailable  United States   
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa   
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...    Unavailable   
3                                           Unavailable    Unavailable   
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India   
...                                                 ...            ...   
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States   
8803                                        Unavailable    Unavailable   
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States   
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States   
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India   

      date_added  release_year rating   duration  \
0     25/09/2021          2020  PG-13     90 min   
1     24/09/2021          2021  TV-MA  2 Seasons   
2     24/09/2021          2021  TV-MA   1 Season   
3     24/09/2021          2021  TV-MA   1 Season   
4     24/09/2021          2021  TV-MA  2 Seasons   
...          ...           ...    ...        ...   
8802  20/11/2019          2007      R    158 min   
8803  01/07/2019          2018  TV-Y7  2 Seasons   
8804  01/11/2019          2009      R     88 min   
8805  11/01/2020          2006     PG     88 min   
8806  02/03/2019          2015  TV-14    111 min   

                                              listed_in  \
0                                         Documentaries   
1       International TV Shows, TV Dramas, TV Mysteries   
2     Crime TV Shows, International TV Shows, TV Act...   
3                                Docuseries, Reality TV   
4     International TV Shows, Romantic TV Shows, TV ...   
...                                                 ...   
8802                     Cult Movies, Dramas, Thrillers   
8803             Kids' TV, Korean TV Shows, TV Comedies   
8804                            Comedies, Horror Movies   
8805                 Children & Family Movies, Comedies   
8806     Dramas, International Movies, Music & Musicals   

                                            description  
0     As her father nears the end of his life, filmm...  
1     After crossing paths at a party, a Cape Town t...  
2     To protect his family from a powerful drug lor...  
3     Feuds, flirtations and toilet talk go down amo...  
4     In a city of coaching centers known to train I...  
...                                                 ...  
8802  A political cartoonist, a crime reporter and a...  
8803  While living alone in a spooky town, a young g...  
8804  Looking to survive in a world taken over by zo...  
8805  Dragged from civilian life, a former superhero...  
8806  A scrappy but poor boy worms his way into a ty...  

[8790 rows x 12 columns]
#Exporting Cleaned Data
dataset.to_csv('cleaned_netflix_data.csv', index = False)

<class 'IndentationError'>: unexpected indent (1778375791.py, line 4)